docker/extensions/redhat.java-1.16.2023031404@linux-x64.vsix filter=lfs diff=lfs merge=lfs -text
docker/extensions/VisualStudioExptTeam.vscodeintellicode-1.2.30.vsix filter=lfs diff=lfs merge=lfs -text
docker/extensions/vscjava.vscode-java-debug-0.49.2023022723.vsix filter=lfs diff=lfs merge=lfs -text
docker/extensions/vscjava.vscode-java-dependency-0.21.2023030900.vsix filter=lfs diff=lfs merge=lfs -text
docker/extensions/vscjava.vscode-java-test-0.38.2023030203.vsix filter=lfs diff=lfs merge=lfs -text
docker/extensions/vscjava.vscode-maven-0.40.2023031403.vsix filter=lfs diff=lfs merge=lfs -text
